html {
  background-color: #191919;
}
#container-head {
  background-color: #191919;
  color: #ff8c00;
}
#navbarchef {
  color: #ff8c00;
  border: 0px;
  background-color: #ff8c00;
}
body {
  background-color: #191919;
}
text {
  color: #ff8c00;
  font-size: 30px;
}
userheader {
  color: #ff8c00;
  font-size: 20px;
  text-decoration: underline;
}
userheader2 {
  color: #ff8c00;
  font-size: 15px;
  text-decoration: bold;
}
text2 {
  color: #ff8c00;
  font-size: 20px;
}
hr {
  background-color: #ff8c00;
  color: #ff8c00;
  height: 1px;
  width: 100%;
}
footer {
  color: #ff8c00;
  font-size: 15px;
  text-decoration: overline;
}
pricecut {
  text-align: left;
  text-decoration: line-through;
  color: #e74c3c;
}
pricechange {
  text-align: left;
  text-decoration: bold;
  color: #3498db;
}
textheading {
  color: #ff8c00;
  text-decoration: overline;
  font-size: 60px;
}

.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.label-floatlabel {
  font-weight: bold;
  color: #46b8da;
  font-size: 11px;
}
