html {
  background-color: #191919;
}
#container-head {
  background-color: #191919;
  color: #ff8c00;
}
#navbarchef {
  color: #ff8c00;
  border: 0px;
  background-color: #ff8c00;
}
body {
  background-color: #191919;
}
text {
  color: #ff8c00;
  font-size: 30px;
}

.underDevelopment {
  color: red;
}
.nav-link {
  color: white;
}
.navbar-brand {
  color: white;
}
userheader {
  color: #ff8c00;
  font-size: 20px;
  text-decoration: underline;
}
userheader2 {
  color: #ff8c00;
  font-size: 15px;
  text-decoration: bold;
}
text2 {
  color: #ff8c00;
  font-size: 20px;
}
#mainImage {
  max-width: 300px;
}
hr {
  background-color: #ff8c00;
  color: #ff8c00;
  height: 1px;
  width: 100%;
}
footer {
  color: #ff8c00;
  font-size: 15px;
  text-decoration: overline;
}
pricecut {
  text-align: left;
  text-decoration: line-through;
  color: #e74c3c;
}
pricechange {
  text-align: left;
  text-decoration: bold;
  color: #3498db;
}
textheading {
  color: #ff8c00;
  text-decoration: overline;
  font-size: 60px;
}

.loginHeadings {
  color: #ff8c00;
}

.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.label-floatlabel {
  font-weight: bold;
  color: #46b8da;
  font-size: 11px;
}

.img-responsive {
  width: 100%;
}

#mainImage {
  width: 33%;
}

.CarouselSection {
  padding: 0;
  margin-left: 15%;
  text-align: center;
  width: 70%;
}

.contactContainer {
  margin-top: 1.5rem;
  justify-items: center;
}

.mapDiv {
  width: 100%;
}

.aboutDiv {
  width: 100%;

  justify-content: center;
}

.responsive-iframe {
  width: 100%;
  height: 20rem;
}

/* login and register labels */
.loginLabel {
  color: #ff8c00;
}

/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */

/* MENU SECTION */

/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
.menuJumbo {
  background-color: white;
}
.catHead {
  margin-top: 4rem;
  color: #ff8c00;
  margin-right: 2.5rem;
}
.menuItem {
  overflow: auto;
  margin-right: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}
.menuItemName {
  color: #ff8c00;
}
.menuItemInfo {
  float: left;
  padding-right: 1rem;
  padding-left: 1rem;
}

.menuItemImage {
  float: left;
}

.itemImage {
  max-width: 12rem;
  min-height: 10rem;
  max-height: 10rem;
  /* min-width: 12rem; */
  display: block;
}

.addToCartDiv {
  float: right;
}

.addToCartButton {
  color: white;
  background-color: #ff8c00;
}
@media only screen and (max-width: 996px) {
  .menuItemImage {
    float: none;
    margin-bottom: 1rem;
    /* min-width: 100%; */
  }
}
